doctype html
html
    head
        title= 'Survey'
        script(src='/javascripts/jquery-3.1.0.min.js')
        script(src='/javascripts/jwplayer.js')

        link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
